.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: var(--size-6);
  font-weight: bold;
  color: var(--color-grey-50);
  cursor: pointer;
}
.logo img {
  width: 200px;
}

@media (max-width: 508px) {
  .logo {
    font-size: var(--size-6);
  }
}
